includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level of rule strictness (0-9)
    level: 5

    ignoreErrors:
        # Laravel specific ignores
        - '#Call to an undefined method Illuminate\\[a-zA-Z\\]+::[a-zA-Z]+\(\)#'
        - '#Access to an undefined property Illuminate\\[a-zA-Z\\]+::\$[a-zA-Z]+#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    # Laravel specific configuration
    bootstrapFiles:
        - bootstrap/app.php

    # Custom stub files
    stubFiles:
        # - stubs/User.stub

    # Memory limit
    memoryLimitFile: .phpstan-memory-limit